@import "./normalize.less";
@import "./colors.less";
@import "./loading.less";
@import "./and.less";

// 解决父元素高度塌陷
.clearfix {
	&::after {
		content: " ";
		clear: both;
		display: block;
		visibility: hidden;
	}
}

// 文本省略
.text-ellipsis(@line: 1) {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: @line;
	overflow: hidden;
}

// 绘制小箭头
.angle(@direction: top, @size: 10px) {
	&::before {
		content: "";
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, 95%);
		display: block;
		width: 0;
		height: 0;
		border: @size solid transparent;
		border-@{direction}: @size solid @colorM;
	}
}

.container {
	overflow: hidden;

	.nav-left-wrapper {
		height: calc(100vh);
	}

	.main-wrapper {
		height: calc(100vh);
		background-color: @colorL;
		overflow-y: scroll;
		&::-webkit-scrollbar {
			display: none;
		}

		.content {
			position: relative;
			padding: 20px;
			min-height: calc(100vh - 200px);
		}
	}
}

// .content-wrap {
// 	// background: #ffffff;
// 	// border: 1px solid #e8e8e8;
// 	// margin-top: -3px;

// 	.ant-table-wrapper {
// 		// margin-left: -1px;
// 		// margin-right: -2px;
// 	}
// }

// .ant-card {
// 	button {
// 		// margin-right: 10px;
// 	}
// }
