{ 
    "presets": [
        [ 
           "@babel/preset-env", { 
               "useBuiltIns": "usage", //按需注入
               "corejs": "2", // 声明corejs版本
               "targets": { 
                   "browsers": [ "> 1%", "last 5 versions", "ie >= 8" ] 
               } 
           }
        ]
       ],
       "plugins":[
        // This plugin transforms ES2015 modules to CommonJS.
            ["@babel/plugin-transform-runtime",{
              
            }]
       ]
} 

